/* footer-sytle */
.myfooter{
    
    background-image: linear-gradient(to bottom right, #89c94a, #75ffac);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
      clip-path: polygon(0 0%, 0% 100%, 100% 100%, 100% 20%, 0% 0);
}
.side ul li a{
    color: white;
    font-size: 12px;
}
div.social{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}  

.myfooter .col-sm-4 .social i{
    
    padding: 10px;
    font-size: 30px !important;
    color:white;
}
.myfooter .col-sm-4 .social i:hover{
    cursor: pointer;
}